*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:white;
    margin: 0;
}
.logo{
    text-decoration: none;
    color: white;
    margin-left: 3vh;
    font-size: 2.5vh;
    font-family: 'Open Sans', sans-serif;
}
.li{
    list-style: none;
}
.botones-nav{
    color: white;
    text-decoration: none;
    margin: 3vh 4vh;
    text-align: center;
}

.sn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0% 10%;
    height: 50vh;
}
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 15vh;
    background-color: #38B6FF;
    color: white;
}

.button{
    background-color: #38B6FF;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    background-size: 100px;
    text-decoration: none;
    border: 2px solid #38B6FF;
    padding: 0px 5px;
    margin-top: 2%;
}
.button:hover{
    background-color: #28708a00;
    border: 2px solid #38B6FF;
    transition: 0.3s ease;
}
h1{
    font-size: 7vh;
    align-items: center;
    margin: 0 5vh;
    color: white;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
nav{
    background-color: #38B6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 768px){
        .nav{
            flex-direction: column;
            height: 5vh;
        }
}

@media screen and (max-width: 768px){
    .ul{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .botones-nav{
        flex-direction: column;
        display: none;
    }
}

@media screen and (max-width: 768px){
    .label{
        margin-top: 0.7vh;
    }
}


.ul{
    display: flex;
    justify-content: space-between;
}
.iconos{
    display: flex;
    font-size: 3vh;
    font-display: 10px;
    letter-spacing: 25px;
    color: invert;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
#fa:hover{
    color: #3b5998;
    transition: 0.5s ease;
}
#in:hover{
    color: orange;
    transition: 0.5s ease;
}
#tik:hover{
    color: #000000;
    transition: 0.5s ease;
}
